/* ------------------------------------------------------ALLES------------------------------------------------------- */
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-ExtraLight.eot');
    src: url('fonts/Montserrat-ExtraLight.woff2') format('woff2'),
    url('fonts/Montserrat-ExtraLight.woff') format('woff'),
    url('fonts/Montserrat-ExtraLight.ttf') format('truetype'),
    url('fonts/Montserrat-ExtraLight.svg#Montserrat-ExtraLight') format('svg'),
    url('fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Light.eot');
    src: url('fonts/Montserrat-Light.woff2') format('woff2'),
    url('fonts/Montserrat-Light.woff') format('woff'),
    url('fonts/Montserrat-Light.ttf') format('truetype'),
    url('fonts/Montserrat-Light.svg#Montserrat-Light') format('svg'),
    url('fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.eot');
    src: url('fonts/Montserrat-Regular.woff2') format('woff2'),
    url('fonts/Montserrat-Regular.woff') format('woff'),
    url('fonts/Montserrat-Regular.ttf') format('truetype'),
    url('fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
    url('fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: bold;
    font-style: normal;
}
/*
@font-face {
    font-family: 'Montserrat-Medium';
    src: url('fonts/Montserrat-Medium.eot');
    src: url('fonts/Montserrat-Medium.woff2') format('woff2'),
    url('fonts/Montserrat-Medium.woff') format('woff'),
    url('fonts/Montserrat-Medium.ttf') format('truetype'),
    url('fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg'),
    url('fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
*/
html {min-height: 100%; position: absolute; left: 0; top: 0; overflow-x: hidden; overflow-y:scroll; width: 100%}
html.start{height:100%}
html.start > body {overflow:hidden}

html,body {
    background: url("hintergrund.svg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding:0;
    margin: 0;
}
body {
    height: 100%
}

header {
    background-color: #06A0FF;
    position: relative;
    z-index: 3;
    height: 80px;
    width: 100%;
    padding: 10px;
    text-align: center;
}
header > label {
    display: none;
}
header > a > img:first-of-type {
    cursor: pointer;
    display: none;
}
header > a > img:nth-of-type(2):hover {
    cursor: pointer;
}

/*
#heart {
    height: 32%;
    min-width: 100px;
    position:absolute; z-index:4;
    margin-left: 42%;
    bottom: 47%;
}

#pulse {
    height: 32%;
    min-width: 100px;
    position:absolute; z-index:3;
    margin-left: 42%;
    bottom: 47%;
    animation-name: bump;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
#pulse2 {
    height: 32%;
    min-width: 100px;
    position:absolute; z-index:3;
    margin-left: 42%;
    bottom: 47%;
    animation-name: bump;
    animation-duration: 4s;
    animation-delay: 0.7s;
    animation-iteration-count: infinite;
}
#pulse3 {
    height: 32%;
    min-width: 100px;
    position:absolute; z-index:3;
    margin-left: 42%;
    bottom: 47%;
    animation-name: bump;
    animation-duration: 4s;
    animation-delay: 1.4s;
    animation-iteration-count: infinite;
}

div.circle {
    background-color: #ed4545;
    border-radius: 100%;
    height: 32%;
    width: 18%;
    position:absolute; z-index:3;
    margin-left:42%;
    bottom:47%;
    animation-name: bump;
    animation-duration: 4s;
    animation-delay: 1.4s;
    animation-iteration-count: infinite;
}
*/

footer {
    height: 36px;
    width: 100%;
    background-color: #06A0FF;
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 0.6rem;
    text-align: center;
    line-height: 18px;
    position: absolute; z-index: 9999999;
    bottom:0;
}
.fb-btn {
    background-color: #3C5A99;
    color: #ffffff;
    cursor: pointer;
    height: 42px;
    border-radius: 6px;
    position: relative;
    font-weight: bold;
    line-height: 40px;
    padding-left: 35px;
    padding-right: 15px;
    display: inline-block;
}
.fb-btn::before {
    position: absolute;
    content: url("/iconsimg/FB_icon.svg");
    top: 3px;
    left: 0px;
    z-index: 999999999;
    width: 30px;
}
a.one {
    border-right: 1px solid #066CC1;
    text-decoration: none;
    color:#fff;
    padding-right: 10px;
    padding-left: 10px;
}
a.two {
    text-decoration: none;
    color:#fff;
    padding-right: 10px;
    padding-left: 10px;
}
.made {
    text-decoration: none;
    color:#fff;
}
/* --------------------------------------------------Index----------------------------------------------------------- */
#couple {
    height: calc(100% - 136px);
    position: relative;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div.letter {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1px;
    border: 1px solid #bcbcbc;
    width: 25%;
    height: 50%;
    min-width: 480px;
    position:absolute; z-index:5;
    margin-left: 4%;
    top:108px;
    animation-name: fly;
    animation-duration: 4s;
    animation-iteration-count: 1;
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 14px;
}

#welcome {
    background-color: #06A0FF;
    margin: 0;
    padding:5px 0;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 1.1rem;
}
#text {
    margin:0;
    padding: 20px 40px;
    text-align: center;
    line-height: 24px;
    font-size: 0.9rem;
    width: 400px;
}

div.button {
    position: absolute;
    bottom: -0px;
    width: 100%;
    padding-top: 23px;
    padding-bottom: 20px;
    border-top: 1px #bcbcbc dashed;
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
}
div.button > img {
    cursor: pointer;
}

span.alert {
    display: none;
    background: #fdf1b3;
    border: 1px #bcbcbc solid;
    border-radius: 5px;
    margin: 0 25px 25px 25px;
    padding:20px;
    color: #1a1a1a;

    font-size: 0.9rem;

}

span.bye {
    background: #b2e3fd;
    border: 1px #bcbcbc solid;
    border-radius: 5px;
    margin: 0 25px 25px 25px;
    padding:20px;
    color: #1a1a1a;
    display: block;

    font-size: 0.9rem;
}
/* --------------------------------------------------Alles ab Start-------------------------------------------------- */
/* _____________________________________Herzchen_____________________________________ */

/* KANN WEG
.fallingHearts {
    display:block;
    position: absolute; z-index: 1;
}
.fallingHearts span {
    position: relative; z-index: 1;
    display: inline-block;
    width: 20px;
    height: 17px;
    margin: -280px 80px 54px -34px;
    background:url("herz_basis_alternative.svg");
    animation: fallingHearts 15s infinite linear;
}

.fallingHearts span:nth-child(5n+5) {
    animation-delay: 1s;
}
.fallingHearts span:nth-child(3n+3) {
    animation-delay: 2.9s;
}
.fallingHearts span:nth-child(2n+5) {
    animation-delay: 4.8s;
}
.fallingHearts span:nth-child(3n+10) {
    animation-delay: 6.7s;
}
.fallingHearts span:nth-child(7n+2) {
    animation-delay: 8.6s;
}
.fallingHearts span:nth-child(4n+7) {
    animation-delay: 10.5s;
}
*/
/* _____________________________________Menüleiste___________________________________ */
#navchanger {
    display: none;
}

nav {
    height: 100%;
    width: 300px;
    margin: 0;
    padding: 50px 0 30px 0;
    top: 0;
    left: -260px;
    transition: left 1s;
    float: left;
    position:fixed;
    z-index: 99999;
    background: rgb(77, 77, 77);
    font-size: 1rem;
    text-decoration: none;
    text-decoration-color: rgb(57,57,57);
    font-family: "Montserrat";
    font-weight: 100;
}
nav > ul, nav > div {
    opacity: 0;
    transition: opacity 1s;
}

nav > label {
    display: inline-block;
    height: 26px;
    width: 26px;
    left: auto;
    right: 7px;
    position: absolute;
    top: 10px;
}
nav > label:hover {
    cursor: pointer;
}

ul{
    padding: 0;
    margin: 0;
}
ul#menu_top {
    position: absolute;
    top: 40px;
    width: 100%;
}
ul#menu_bottom {
    position: absolute;
    bottom: 80px;
    width: 100%;
}
ul#menu_top > li:nth-of-type(1)::after, ul#menu_bottom > li.fb-logout::after {
    width: 96%;
    content:" ";
    display: block;
    height: 1px;
    background: #fef9f9;
    margin-top: 9px;
    margin-left: 10px;
}

nav > ul > li:hover { background-color: #06A0FF; }

nav > ul > li > a:link { color: #fef9f9; text-decoration: none; }
nav > ul > li > a:active { color: #fef9f9; text-decoration: none; }
nav > ul > li > a:visited { color: #fef9f9; text-decoration: none; }
nav > ul > li > a:hover { color: #fef9f9; text-decoration: none; }

nav > ul > li {
    height: 48px;
    line-height: 48px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.875rem;
}
nav > ul#menu_top > li > a, nav > ul#menu_bottom > li > a {
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 15px;
}
nav > ul > li > a > img {
    padding-right:5px;
    margin:0;
    margin-bottom: 3px;
    vertical-align: middle;
}
nav.eingeloggt {

}
nav.ausgeloggt {
    display: none;
}
nav > ul > li.eingeloggt {
    display: block;
}
nav > ul > li.fb-logout {
    display: block;
}
nav > ul > li.ausgeloggt {
    display: none;
}
nav > ul#menu_bottom > li.impressum-links {
    display: none;
}

#navchanger:checked + nav {
    left: 0;
    transition: top 1s;
}
#navchanger:checked + nav > ul, #navchanger:checked + nav > div {
    opacity: 1;
    transition: opacity 1s;
}

#navchanger:checked + nav > label > img {
    opacity: 0;
}
#navchanger:checked + nav > label {
    background: url("iconsimg/X_menu_desktop.svg") no-repeat;
}

/*
#fbLink {
    text-align: center;
    padding: 20px 0 20px 0;
    margin:0;
    bottom: 30px;
}
*/

/* ________________________Hinweis wenn noch keine FP verschickt________________________ */
main.hint {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100000;
    top: 0;
    background: rgba(0,0,0,0.5);
}
main.hint > article {
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    text-align: center;
    width: 500px;
    background: #fff;
}

main.hint > article > h1 {
    background-color: #06A0FF;
    color: #fff;
    height: 38px;
    font-size: 1.375rem;
    padding-top: 10px;
    font-family: "Montserrat";
    font-weight: normal;
    margin:0;
}

main.hint > article > form {
    display: block;
    padding: 0;
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 0.875rem;
}

main.hint > article > form > div {
    padding: 55px;
}

main.hint > article > form > a {
    display: inline-block;
    background: rgba(245, 245, 220, 0);
    color: #1A1A1A;
    border:0;
    border-top: 1px dashed #68767d;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    text-decoration: none;
    font-size: 20px;
}

main.hint > article > form > a:hover {
    background: #06A0FF;
    color: #fff;
    cursor: pointer;
    border:0;
}

/* ----------------------------------------------------Startseite---------------------------------------------------- */
main#start {
    height: auto;
    margin: 0;
    padding-top: 10px;
}

main#start > article {
    min-height: 200px;
    margin-top:0;
    padding-bottom: 62px;
}

main#start > article#mymessages {
    margin-bottom: 50px;
}

main#start > article#mymessages > ul > li.alle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 215px;
    line-height: 40px;
    padding: 5px 25px 5px 25px;
    background-color: #fff;
    border: 1px #bcbcbc solid;
    list-style: none;
}
main#start > article#mymessages > ul > li.alle > a {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #1A1A1A;
    font-size: 0.75rem;
    background: 188px url("iconsimg/liste.svg") no-repeat;
    padding-right: 36px;
}

main#start > article#recmessages > ul > li.alle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 215px;
    line-height: 40px;
    padding: 5px 25px 5px 25px;
    background-color: #fff;
    border: 1px #bcbcbc solid;
    list-style: none;
}
main#start > article#recmessages > ul > li.alle > a {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #1A1A1A;
    font-size: 0.75rem;
    background: 188px url("iconsimg/liste.svg") no-repeat;
    padding-right: 36px;
}
/* --------------------------------------------------Neue Nachricht-------------------------------------------------- */
main {
    text-align: center;
    position: relative;
    z-index: 800;
    padding-bottom: 100px;
}
article#newmessage {
    width: 670px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255,255,255,0.7);
    margin-top: 10px;
}
article#newmessage > h1 {
    background-color: #06A0FF;
    color: #fff;
    height: 38px;
    font-size: 1.375rem;
    padding: 10px 0 0 55px;
    font-family: "Montserrat";
    font-weight: normal;
    text-align: left;
    margin:0;
}
article#newmessage > form {
    display: block;
    font-family: "Montserrat";
    padding: 0;
}
article#newmessage > form > div.textarea {
    padding: 55px 55px 0;
}
article#newmessage > form > div.textarea > textarea {
    display: block;
    box-sizing: border-box;
    background-color: #fff;
    line-height: 20px;
    padding: 20px;
    width: 100%;
    border: 1px solid rgb(212, 210, 207);
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 0.9rem;
    color: #1A1A1A;
    height: 350px;
}
article#newmessage > form > div.textarea > span.count {
    font-size: 0.75rem;
    float: right;
    padding-top: 5px;
}
article#newmessage > form > input[type=submit] {
    background: 390px 14px url("iconsimg/abschicken.svg") no-repeat rgba(245, 245, 220, 0);
    color: #1A1A1A;
    border:0;
    border-top: 1px dashed #b3b3b3;
    height: 55px;
    padding: 15px;
    padding-right: 60px;
    text-align: center;
    margin-top: 50px;
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 0.875rem;
    box-sizing: border-box;
    width: 100%;
}
article#newmessage > form > input[type=submit]:hover {
    background: 390px 14px url("iconsimg/abschicken.svg") no-repeat #06A0FF;
    color: #fff;
    cursor: pointer;
    border:0;
}

article#newmessage > form > span {
    line-height: 30px;
    font-size: 1rem;
}
/* -----------------------------------------------Eigene Flaschenpost------------------------------------------------ */
article#mymessages {
    width: 965px;
    min-height: 760px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    position: relative;
    z-index: 1000;
    font-family: "Montserrat";
    color: #1A1A1A;
}

article > h1 {
    background-color: #06A0FF;
    color: #fff;
    font-size: 1.275rem;
    padding: 12px 0 12px 25px;
    font-weight: normal;
    text-align: left;
    margin:0;
}

article#mymessages > form {
    margin-top: 10px;
    background: #fff;
    border: 1px solid #b3b3b3;
}
article#mymessages > form > div.fp {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 647px;
    padding: 21px 25px 21px 25px;
    border-right: 1px dashed #b3b3b3;
}
article#mymessages > form > div.fp > h2 {
    font-weight: bold;
    font-size: 1.125rem;
    margin: 0;
}
article#mymessages > form > div.fp > h2 > span:first-of-type, article#recmessages > form > div.fp > h2 > span:first-of-type {
    text-align: left;
}
article#mymessages > form > div.fp > h2 > span:nth-of-type(2), article#recmessages > form > div.fp > h2 > span:nth-of-type(2) {
    display: none;
}
article#mymessages > form > div.fp > p {
    font-weight: normal;
    font-size: 1rem;
}

article#mymessages > form > div.new {
    width: 215px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 16px 25px 21px 25px;

}
article#mymessages > form > div.new > h2.hasMessage {
    position: relative;
    text-align: right;
    font-weight: bold;
    font-size: 1.125rem;
    //background: 188px url("iconsimg/ampel_gruen.svg") no-repeat #fff;
    padding-right: 35px;
    padding-top: 5px;
    margin: 0;
    height: 26px;
}
article#mymessages > form > div.new > h2.hasNoMessage {
    position: relative;
    text-align: right;
    font-weight: bold;
    font-size: 1.125rem;
    //background: 188px url("iconsimg/ampel_gruen.svg") no-repeat #fff;
    padding-right: 35px;
    padding-top: 5px;
    margin: 0;
    height: 26px;
}
article#mymessages > form > div.new > h2.hasMessage:after {
    position: absolute;
    content: url("iconsimg/ampel_gruen.svg");
    right: 2px;
    top: 2px;
}
article#mymessages > form > div.new > h2.hasNoMessage:after {
    position: absolute;
    content: url("iconsimg/ampel_grau.svg");
    right: 2px;
    top: 2px;
}
/*article#mymessages > form > div.new > h2 {
    text-align: right;
    font-weight: bold;
    font-size: 1.125rem;
    //background: 188px url("iconsimg/ampel_gruen.svg") no-repeat #fff;
    padding-right: 35px;
    padding-top: 5px;
    margin: 0;
    height: 26px;
}*/

article#mymessages > form > ul.antworten {
    list-style: none;
    transition: height 1s;
    height: 0;
    overflow: hidden;
    position: relative;
}
article#mymessages > form > ul.antworten > li {
    background: 920px url("iconsimg/ampel_gruen_klein.svg") no-repeat #f2f2f2;
    font-weight: normal;
    font-size: 0.875rem;
    text-align: left;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}
article#mymessages > form > ul.antworten > li:nth-of-type(2n) {
    background-color: #fff;
}
article#mymessages > form > ul.antworten > li > a {
    color: #1A1A1A;
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-decoration: none;
}

article#mymessages > form > ul.antworten > li > a:hover {
    background: 920px url("iconsimg/ampel_gruen_klein.svg") no-repeat #06A0FF;
    color: #fff;
}

article#mymessages > form > label {
    display: block;
    top: auto;
    width: 100%;
    height: 15px;
    background: center url("iconsimg/pfeil.svg") no-repeat #b3b3b3;
    //transform: rotate(180deg);
    cursor: pointer;
}

.antwortenchanger {
    display: none;
}
.antwortenchanger:checked + ul.antworten {
    height: auto !important;
    transition: height 1s !important;
}
.antwortenchanger:checked + ul + label {
    transform: rotate(180deg) !important;
}

/* ---------------------------------------------------Chatverlauf---------------------------------------------------- */
article#chat {
    width: 680px;
    min-height: 760px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255,255,255,0.7);
    margin-top: 10px;
    position: relative;
    z-index: 1000;
}

article#chat > h1 {
    background-color: #06A0FF;
    color: #fff;
    font-size: 1.275rem;
    padding: 12px 0 12px 12px;
    font-family: "Montserrat";
    font-weight: normal;
    text-align: left;
    margin:0;
}
article#chat > h1 > a > img {
    vertical-align: middle;
    padding-right: 20px;
}

article#chat > form {
    display: block;
    padding: 0;
    overflow: hidden;
}

/* --------------------Original Flaschenpost-------------------- */
#originalchanger {
    display: none;
}

article#chat > form > div.original_fp {
    font-family: "Montserrat";
    max-height: 57px;
    width: 100%;
    padding-top: 15px;
    transition: max-height 1s;
    transition: padding-bottom 1s;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 10000;
    border: 1px solid #b3b3b3;
    border-top: none;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
    min-height: 60px;
}

article#chat > form > div.original_fp > p {
    padding: 0 55px 10px 55px;
    transition: padding-top 1s;
    margin:0;
    text-align: left;
    line-height: normal;
    font-weight: bold;
    font-size: 0.875rem;
    color: #1A1A1A;
}

article#chat > form > div.original_fp > div.linear_gradient {
    background: linear-gradient(to bottom, rgba(255,255,255,0.4), rgba(255,255,255,1));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#66FFFFFF', endColorstr='#ffffff');
    position: absolute;
    bottom:16px;
    z-index: 900;
    width: 100%;
    height: 20px;
}

main > article > form > div.original_fp > label {
    display: block;
    top: auto;
    bottom: 0;
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 16px;
    background: center url("iconsimg/pfeil.svg") no-repeat #fff;
    transform: rotate(0deg);
    cursor: pointer;
}



#originalchanger:checked + div.original_fp {
    height: auto;
    padding-bottom: 170px;
    transition: all 1s;
}

#originalchanger:checked + div.original_fp > p {
    padding-top: 45px;
    transition: padding-top 1s;
}

#originalchanger:checked + div.original_fp > label {
    transform: rotate(180deg);
}

/* -------------nur bei Gefundene FP------------- */
article#chat > form > div.original_fp > ul {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 35px;
    right: 55px;
    list-style: none;
    opacity: 0;
}

article#chat > form > div.original_fp > ul > li {
    height: 30px;
    line-height: 30px;
    padding-top: 5px;
}

article#chat > form > div.original_fp > ul > li > a {
    display: block;
    text-align: right;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 0.75rem;
    color: #1A1A1A;
}
article#chat > form > div.original_fp > ul > li > a > img {
    padding-left: 10px;
    vertical-align: middle;
    padding-bottom: 3px;
}

#originalchanger:checked + div.original_fp > ul {
    opacity: 1;
    transition: opacity 2s;
}


/* ---------------------------Chatarea--------------------------- */
article#chat > form > div.scroll-view {
    height:651px;
    overflow: hidden;
}
article#chat > form > div.scroll-view > div.chatarea {
    padding: 0 55px 0 38px;
    font-family: "Montserrat";
    overflow-y: scroll;
    right: -17px;
    height: 547px;
    position: relative;
    padding-top: 94px;
    padding-bottom: 10px;
}
article#chat > form > div.scroll-view > div.chatarea > div{
    display: table;
    font-weight: normal;
    font-size: 0.875rem;
    min-width: 40px;
    max-width: 328px;
    text-align: left;
    padding: 16px;
    padding-bottom: 25px;
    position: relative;
    z-index: 1;
    margin-bottom: 35px;
    border-radius: 2px;
}
article#chat > form > div.scroll-view > div.chatarea > div > p {
    margin: 0;
    line-height: 20px;
}
article#chat > form > div.scroll-view > div.chatarea > div > time {
    font-size: 0.8rem;
    color:#aaa;
    margin-top: 5px;
    position: absolute;
    right: 10px;
}
article#chat > form > div.scroll-view > div.chatarea > div > time > img {
    margin-right: 4px;
}
article#chat > form > div.scroll-view > div.chatarea > div.other {
    background: #fff;
    border: 1px solid #b3b3b3;
}
article#chat > form > div.scroll-view > div.chatarea > div.other:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -1px;
    top: 100%;
    border: 13px solid;
    border-color: #b3b3b3 transparent transparent #b3b3b3;
}
article#chat > form > div.scroll-view > div.chatarea > div.other:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 99%;
    border: 12px solid;
    border-color: #fff transparent transparent #fff;
}
article#chat > form > div.scroll-view > div.chatarea > div.self {
    background: #ffdbbd;
    border: 1px solid #b3b3b3;
    position: relative;
    margin-right: 0;
    margin-left: auto;
}
article#chat > form > div.scroll-view > div.chatarea > div.self:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: -1px;
    top: 100%;
    border: 13px solid;
    border-color: #b3b3b3 #b3b3b3 transparent transparent;
}
article#chat > form > div.scroll-view > div.chatarea > div.self:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    top: 99%;
    border: 12px solid;
    border-color: #ffdbbd #ffdbbd transparent transparent;
}

article#chat > form > div.scroll-view > div.chatarea > div.day {
    position: relative;
    display: inline-block;
    background-color: #b3b3b3;
    border-radius: 2px;
    color: #66615d;
    min-width: 40px;
    max-width: 150px;
    padding: 7px;
    font-size: 0.8rem;
    font-weight: normal;
    margin-bottom: 10px;
}

/* ---------------------------Textarea--------------------------- */
article#chat > form > div.textarea {
    height: 35px;
    position: absolute;
    bottom: 0px;
    padding: 10px 55px 10px 55px;
    /*border-top: 1px dashed #b3b3b3;*/
}
article#chat > form > div.textarea > textarea {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    background-color: #fff;
    line-height: 15px;
    padding: 9px 20px;
    margin-right: 9px;
    width: 530px;
    border: 1px solid rgb(212, 210, 207);
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 0.875rem;
    color: #1A1A1A;
    height: 35px;
}
article#chat > form > div.textarea > input[type=submit] {
    background: url("iconsimg/abschicken.svg") rgba(255,255,255,0);
    border:0;
    display: inline-block;
    vertical-align: middle;
    height: 27px;
    width: 27px;
    padding: 0;
}
article#chat > form > div.textarea > input[type=submit]:hover {
    cursor: pointer;
}

/* ----------------------------------------------Gefundene Flaschenpost---------------------------------------------- */
article#recmessages {
    width: 965px;
    min-height: 760px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    position: relative;
    z-index: 1000;
    font-family: "Montserrat";
    color: #1A1A1A;
}
article#mymessages > form, article#recmessages > form {
    text-align: left;
}
article > h1 {
    text-align: left;
}
article#recmessages > h1 {
    background-color: #06A0FF;
    color: #fff;
    font-size: 1.275rem;
    padding: 12px 0 12px 25px;
    font-weight: normal;
    margin:0;
}

article#recmessages > form {
    margin-top: 10px;
    background: #fff;
    border: 1px solid #b3b3b3;
}
article#recmessages > form > div.fp {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 647px;
    padding: 21px 25px 21px 25px;
    /*border-right: 1px dashed #b3b3b3;  jetzt haben wir keine GEFUNDENE FLASCHENPOST*/
}
article#recmessages > form > div.fp > h2 {
    font-weight: bold;
    font-size: 1.125rem;
    margin: 0;
}
article#recmessages > form > div.fp > p {
    font-weight: normal;
    font-size: 1rem;
}

article#recmessages > form > div.new {
    width: 215px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 16px 25px 21px 25px;

}
article#recmessages > form > div.new > h2 {
    text-align: right;
    font-weight: bold;
    font-size: 1.125rem;
    background: 189px url("iconsimg/uhr.svg") no-repeat #fff;
    padding-right: 35px;
    padding-top: 5px;
    margin: 0;
    height: 26px;
    color: #06A0FF;
}
article#recmessages > form > div.new > ul {
    list-style: none;

}
article#recmessages > form > div.new > ul > li {
    height: 30px;
    line-height: 30px;
    padding-top:5px;

}
article#recmessages > form > div.new > ul > li > a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #1A1A1A;
    text-align: right;
    font-size: 0.75rem;
}
article#recmessages > form > div.new > ul > li > a > img {
    padding-left: 10px;
    margin: 0;
    margin-bottom: 3px;
    vertical-align: middle;
}

/* --------------------------------------------------Einstellungen--------------------------------------------------- */

/* -------------------------------------------Impressum | AGB | Datenschutz------------------------------------------ */

article.ind {
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255,255,255,0.7);
    margin-top: 10px;
    font-family: "Montserrat";
    overflow-x: hidden;
    overflow-y: hidden;
}

article.ind > h1 {
    background-color: #06A0FF;
    color: #fff;
    height: 38px;
    font-size: 1.375rem;
    padding: 10px 0 0 55px;
    font-weight: normal;
    text-align: left;
    margin:0;
}

article.ind > form {
    display: block;
    text-align: left;
    padding: 0 55px 0 38px;
    position: relative;
}

article.ind > form > a.back {
    position: relative;
    margin-left: 30px;
}
article.ind > form > a.back::before {
    content: url("iconsimg/pfeil_zurueck.svg");
    position: absolute;
    top: -2px;
    left: -33px;
}

article.ind > form > h2 {
    font-size: 1rem;
}

article.ind > form > p {
    font-size: 0.9rem;
}

article.ind > form > ul {
    list-style: none;
    font-size: 0.9rem;
}

article.ind > form > ul > ul {
    padding-left: 20px;
    list-style: none;
}

article.ind > form > ol {
    font-size: 0.9rem;
    -webkit-padding-start: 25px;
    list-style-position: outside;
}


article.ind > form > a {
    color: #1a1a1a;
    cursor: pointer;
    margin-top: 12px;
    display: block;
    line-height: 20px;
}

/* ----------------------------------------------------Animationen--------------------------------------------------- */
/* Textfelder kommen rein */
@keyframes fly {
    from {transform: translateY(-200%)}
    to {transform: translateY(0%)}
}


/* Herz schlägt */
/*
@keyframes bump {
    0% {
        opacity: 0.7;
        transform: scale(1.0,1.0)
    }
    100% {
        opacity: 0;
        transform: scale(1.5,1.5)
    }
}
*/

/* Herzen fallen */
@-webkit-keyframes fallingHearts {
    0% {
        opacity: 0;
        transform: translate(0, 1000px) rotateZ(-20deg);
    }
    25% {
        opacity: 0.1;
        transform: translate(50px, 760px) rotateZ(20deg);
    }
    26% {
        opacity: 0.1;
        transform: translate(50px, 750px) rotateZ(19deg);
    }
    50% {
        opacity: 0.3;
        transform: translate(0px, 510px) rotateZ(-20deg);
    }
    51% {
        opacity: 0.3;
        transform: translate(0px, 500px) rotateZ(-19deg);
    }
    75% {
        opacity: 0.3;
        transform: translate(50px, 260px) rotateZ(20deg);
    }
    76% {
        opacity: 0.3;
        transform: translate(50px, 250px) rotateZ(19deg);
    }
    100% {
        opacity: 0.3;
        transform: translate(0px, 0px) rotateZ(-20deg);
    }
}
/*------------------------------------------Mobile-------------------------------*/
@media (max-width: 544px){}
@media (max-width: 767px){
    header {
        position: fixed;
        top: 0;
        background-color: #4D4D4D;
        height: 53px;
        text-align: left;
        padding-top: 23px;
        z-index: 1000;
    }
    header > label {
        display: inline-block;
        margin: 10px 15px;
    }
    header > a {
        padding-left: 67px;
    }
    header > a > img:first-of-type {
        cursor: pointer;
        display: inline-block;
    }
    header > a > img:nth-of-type(2) {
        display: none;
    }
    nav {
        //display: none;
        height: 26px;
        width: 26px;
        left: 28px;
        padding: 0;
        transition: none;
    }
    #navchanger:checked + nav {
        min-height: 560px;
    }
    nav > label {
        top: 23px;
    }
    nav > label > img {
        width: 140%;
    }
    nav > ul {
        left: 12px;
    }
    nav > ul#menu_top {
        top: 56px;
    }
    nav > ul > li {
        list-style-type: none;
        font-size: 12px;
    }
    nav > ul#menu_top > li > a, nav > ul#menu_bottom > li > a {
        padding-left: 0px;
    }

    nav > ul#menu_top > li > a > img, nav > ul#menu_bottom > li > a > img {
        margin-left: 12px;
        margin-right: 12px;
        width: 40px;
    }
    nav.eingeloggt {

    }
    nav.ausgeloggt {
        display: block;
    }
    nav > ul > li.eingeloggt {

    }
    nav > ul > li.ausgeloggt {
        display: none;
    }
    nav > ul#menu_bottom > li.impressum-links {
        display: block;
    }

    #navchanger:checked + nav {
        display: block;
        opacity: 0.85;
        width: 100%;
        height: 100%;
        padding: 50px 12px 30px 0;
        //padding-left: 12px;
    }
    #navchanger:checked + nav > label {
        top: 28px;
        left: 27px;
        right: auto;
    }
    #navchanger:checked + nav > ul, #navchanger:checked + nav > div {
        display: block;
    }
    nav > ul, nav > div {
        display: none;
    }
    main {
        /*height: auto;
        padding-top: 86px;*/
        padding-bottom: 0;
        background: 50% 195px url("icons_mobil/mobile_logo_hintergrund.svg") no-repeat;
        height:calc(100% - 86px);
        top:86px;
        width:100%;
        position:absolute;
        padding-bottom:0px
    }
    article.ind {
        margin-top: 0px;
    }
    article.ind > h1 {
        padding: 20px 0 0 0px !important;
        text-align: center;
    }
    article > h1, article#newmessage > h1 {
        text-align: center;
        width: 100%;
        padding: 14px 0 !important;
        font-size: 24px;
        margin-top: -10px !important;
        margin-bottom: 12px !important;
        height: 29px;
    }
    article#newmessage > h1 {
        margin-bottom: 0;
    }
    article#mymessages, article#newmessage, article#recmessages {
        width: 100%;
    }
    article#mymessages > form > div.fp, article#recmessages > form > div.fp {
        border: none;
        width: 90%;
    }
    article#mymessages > form > div.fp > h2 > span:nth-of-type(2), article#recmessages > form > div.fp > h2 > span:nth-of-type(2) {
        display: block;
        text-align: right;
        font-weight: bold;
        font-size: 18px;
        padding-right: 3px;
        padding-top: 5px;
        margin: 0;
        height: 26px;
        position: relative;
        float: right;
    }
    article#mymessages > form > div.new {
        display: none;
    }
    article#mymessages > form > ul.antworten > li.alternate {
        background: #f2f2f2;
    }
    article#mymessages > form > ul.antworten > li {
        position: relative;
        background: #ffffff;
    }
    article#mymessages > form > ul.antworten > li:after {
        position: absolute;
        content: url("iconsimg/ampel_gruen_klein.svg");
        right: 17px;
        top: 8px;
    }
    /*article#mymessages > form > ul.antworten > li.read {
        position: relative;
    }*/
    article#mymessages > form > ul.antworten > li.read:after {
        position: absolute;
        content: url("iconsimg/ampel_grau_klein.svg");
        right: 35px;
        top: 8px;
    }
    article#mymessages > form > ul.antworten > li > a {
        width: 85%;
    }
    article#mymessages > form > div.fp > h2.hasMessage {
        position: relative;
    }
    article#mymessages > form > div.fp > h2.hasNoMessage {
        position: relative;
    }
    article#mymessages > form > div.fp > h2.hasMessage:after {
        position: absolute;
        content: url("iconsimg/ampel_gruen.svg");
        right: -33px;
        top: 2px;
    }
    article#mymessages > form > div.fp > h2.hasNoMessage:after {
        position: absolute;
        content: url("iconsimg/ampel_grau.svg");
        right: 2px;
        top: 2px;
    }
    article#newmessage {
        /*background-color: transparent;*/
        height: 100%;
    }
    article#newmessage > form {
        padding-bottom: 40px;

    }
    article#newmessage > form > span:nth-of-type(1), article#newmessage > form > span:nth-of-type(2) {
        display: none;
    }
    article#newmessage > form > div.textarea {
        background-color: transparent;
        padding: 12px 24px 4px 24px;
    }
    article#newmessage > form > div.textarea > textarea {
        border-top: 1px solid #b3b3b3;
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid #66615d;
        height: 200px;
    }
    article#newmessage > form > input[type=submit] {
        border-top: 1px dashed #b3b3b3;
        /*color: transparent;*/
        background: 70% 14px url("iconsimg/abschicken.svg") no-repeat ;
        position: absolute;
        bottom: 0px;
        left: 0;
    }
    main#start {
        right: 0;
        padding-right: 0;
        padding-top: 96px;
    }

    main.hint {
        width: 100%;
        height: 100%;
        padding: 0;
    }
    main.hint > article {
        height: auto;
        width: 92%;
        margin: 16% 4%;
    }
    #couple {
        display: none;
    }
    main.hint > article > h1 {
        width: auto;
        padding: 14px 0 !important;
        height: 30px;
    }
    main.hint > article > form {
        height: 92%;
    }
    main.hint > article > form > a {
        padding: 24px 0;
    }
    main.hint > article > form > div {
        height: 83%;
        padding: 28px;
    }
    div.letter {
        width: 100%;
        margin-left: 0;
        border: none;
        bottom: 0;
        top: 86px;
        min-width: 100%;
        height: auto;
    }
    div#welcome {
        padding: 10px 0;
    }
    div#text {
        padding: 20px;
        width: auto;
    }
    div.button {
        position: relative;
    }

    /*footer ausblinden*/
    footer {
        display: none;
    }

}
@media (max-width: 991px){}
@media (max-width: 1200px){}